body{
    margin: 0;
    font-family: 'Poppins', sans-serif ;
}
h1{
    font-size: 50px;
}
.name{
    color: orangered;
}
section{
    height: 700px;
    border: 2px;
    
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightSalmon, tomato);
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
width: 100%;
}
.top-banner{
    background-image: url("image/header-bg.png");
    background-repeat: no-repeat;
}
.biography-banner{
    background-image: url("image/header-bg.png");
    background-repeat: no-repeat;

}

.letest-banner{
    background-repeat: no-repeat;
    background-image: url("image/latest-work-bg.png");
}
#job{
    text-align: center;
    
    width: 100%;
}
.image{
    float: left;
    width: 30%;
    padding: 2px;
}
.row::after{
    content: "";
    clear: both;
    display: table;

}
#hight{
    height: 700px;
    width: 100%;
    margin-left: 10%;
}
.footer-banner{
    background-image: url(image/footer-bg.png);
    background-repeat: no-repeat;
}
    .text-align{
    text-align: center;
}
.centre{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightSalmon, tomato);
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: 50%;
    text-align: center;
}
footer p{
    text-align: center;
}